/* Global */
font-family: 'Roboto', sans-serif;

h1, p{
    margin: 0;
}

ul{
    padding: 0;
    margin:0;
    list-style-type: none;
}

.section-padding{
    padding: 80px 0;
}

/* Nav */
header{
    width: 100%;
    position: relative;
}

header.fixed-header{
    position: fixed;
    z-index: 9999;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, .3);
}

.nav-item{
    margin-left: 10px;
}

.nav-item:hover{
    color: #1B75BC !important;
}

/* Heading */
#heading{
    height: 100%;
    background-image: url("/images/apple-clean-containers-205317.jpg");
    background-position: 50% 65%; 
    background-size: cover;
    background-repeat: no-repeat;
}

#show-services{
    position: absolute;
    bottom: 25px;
    left: 47.5%;
    margin-left: auto;
    margin-right: auto;
}

#show-services img{
    height: 40px;
    transition: transform .2s;
}

#show-services img:hover{
    transform: scale(1.1);
}

/* Services */
.card{
    margin: 0 12%;
    background-color: #f8f9fa;
    /* border: gray solid 1px; */
    border-radius: 10px;
    box-shadow: 2px 4px #D3D3D3;
    transition: transform .2s;
}

span.border-style-dark{
    border-bottom: 2px ridge #1B75BC;
    padding-bottom: 10px;
}

.border-style-light{
    border-bottom: 2px ridge #fff;
    padding-bottom: 10px;
}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.card li:nth-child(2) {
    margin-top: 40px;
  }

.card li:nth-child(4) {
    margin: 40px 0;
  }

.fa-home, .fa-briefcase, .fa-rocket{
    color: #1B75BC
}

/* Contact */
#contact{
    background-color: #1B75BC;
}

#contact h1{
    color: #fff;
}

.btn-branded{
    padding: 10px 30px;
    font-size: 20px;
    background-color: #fff;
    color: #1B75BC !important;
    border-radius: 5px;
    border: #fff solid 2px;
}

.btn-branded:hover{
    background-color: #333;
    color: #fff !important;
    border: #333 solid 2px;
}

/* Footer */
#footer{
    padding: 40px 0;
    background-color: #333333;
}

.table{
    float: left;
}

#map{
    width: 80%;
    height: 200px;
    float: right;
}

#footer th, #footer td{
    color: white;
}

/* Large lg */
@media(max-width: 1200px){
    .card{
        margin: 30px 5%;
    }

    #map{
        width: 100%;
    }
}

/* Medium md */
@media(max-width: 768px){
    #show-services{
        left: 43%;
    }

    #show-services img{
        height: 30px;
    }

    .card{
        margin: 30px 15%;
    }

    .table{
        width: 50%;
    }

    .table, #map{
        float: none;
    }

    .navbar-nav {
        margin-top: 20px;
    }
}